.contact-field h5
  margin-top 0
  margin-bottom $tiny-gap
  opacity 0.8

.contact-field h3
  margin-top 0

@media screen and (max-width: 800px)
  .contact-field h3
    padding-left $medium-gap


@media screen and (min-width: 801px)
  .contact-field h3
    font-weight bold
    margin-left $large-gap
