$black = #000000
$white = #FFFFFF
$mobile-width = calc(100vw - 30px)
$ipad-width = calc(100vw - 80px)
$desktop-width = calc(100vw - 140px)

/*Margins*/
$tiny-gap = 10px
$small-gap = 15px
$medium-gap = 20px
$large-gap = 40px
$xlarge-gap = 70px

@require '/components/*.styl'

*:focus
  outline 0px

li, ul
  list-style none
  padding-left 0

a
  color $white
  text-decoration none

p
  margin-top 0

body
  background-color $black
  color $white
  -webkit-font-smoothing antialiased

  margin 0
