black = #000000
white = #FFFFFF

@require '/components/*.styl'

*:focus
  outline 0px

body
  background-color black
  color white

/*Name at the top of the page*/
h1
  font-family Playfair Display
  font-weight bold

/*Tagline*/
h2
  font-family Raleway
  font-weight 500

/*Page titles*/
h3
  font-family Playfair Display
  font-weight normal
  letter-spacing 0.02em

.title--active
  font-weight bold

/*Sub titles*/
h4
  font-family Raleway
  font-weight 600
  letter-spacing 0.1em

/*Print link*/
.link--print
  font-family Raleway
  letter-spacing 0.02em
  font-weight 500

/*Icon links*/
.link--icon
  font-family Raleway
  letter-spacing 0.04em

h5
  font-family Raleway
  letter-spacing 0.03em

p
  font-family Raleway
  font-weight 300

@media screen and (max-width: 1440px)
  h1
    font-size 30px

  h2
    font-size: 24px

  h3
    font-size 24px

@media screen and (min-width: 1441px)
  h1
    font-size 48px

  h2
    font-size: 36px

  h3
    font-size 30px

@media screen and (max-width: 1000px)
  .link--print
    font-size 14px

  .link--icon
    font-size 18px

  h4
    font-size 18px

  h5
    font-size 12px

  p
    font-size 16px
    line-height 22px

@media screen and (min-width: 1001px)
  .link--print, h4
    font-size 30px

  .link--icon
    font-size 24px

  h5
    font-size 18px

  p
    font-size 24px
    line-height 28px
